*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.st-header-wrapper {
    width: 1080px;
    margin: 0 auto;
}
#header {
	position: fixed;
	background: #d5ffcc;
	top: 0;
	width: 100%;
	z-index: 99;
}
.main-navigation {
    width: 100%;
    background: #d5ffcc;
    overflow: auto;
}
ul {
    padding: 0;
    margin: 0px;
    list-style: none;
}
.top-headers-wrapper li{
    float: left;
}
.main-logo {
    position: absolute;
    margin-top: -12px;
    margin-left: 15px;
    height: 93px;
}
.main-navigation a{
    width: 100px;
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    text-align: center;
    color: #177009;
}
.main-menu {
    float: right;
}
.main-menu li {
    margin: 12px;
}
a.active, a:hover {
    color: #eb8715;
    transition: 0.5s;
}
.main-navigation ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background: #7b9e96;

}
.main-navigation ul li:hover .sub-menu ul{
    display: block;
    margin: 0;
}
.main-navigation ul li:hover .sub-menu ul li{
   
    border-bottom: 1px dotted #177009;
    text-align: left;
    background: transparent;
}
.main-navigation ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
.sub-menu {
    display: none;
    margin-left: -15px;
    padding-top: 0px;
    position: absolute;
    width: 142px;
    margin-top: 12px;
}
.sub-menu-2{
    display: none;
}
.hover-sub-2:hover .sub-menu-2{
    position: absolute;
    display: block;
    background: #7b9ead;
    margin-right: 141px;
    margin-left: -135px;
    margin-top: -73px;
    line-height: 1.5;
}
.banner-txt h1, p {
    color: #fff !important;
}
.banner-txt h1 {
    font-size: 45px;
}
.banner{
    background: linear-gradient(#06629c80, #a17114ba), url(../media/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    padding-top: 1px;
}
.banner-txt{
    text-align: center;
    padding-top: 100px;
}
.banner-btn {
    padding-top: 20px;
    text-align: center;
    
}
.banner-btn a {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 15px 43px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
}
a.login {
    background: #177009;
}
a.login:hover {
    color: #177009;
    background: #eb8715;
}
.scnd-banner {
    width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
}
.divider1 {
    width: 60px;
    height: 3px;
    background-color: #177009;
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-left: 38%;
    margin-top: 1px;
}
.flexbox-content {
    display: flex;
    flex-wrap: nowrap;
}
.flexbox-content h5 {
    color: #06629c;
    margin: 25px auto;
}
.flexbox-content [class*="mem"] {
    text-align: center;
    padding: 25px 15px;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3), 2px 2px 20px rgba(0,0,0,0.1);
    margin: 35px 15px;
}
.flexbox-content img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.flexbox-content div {
    text-align: center;
    line-height: 0px;
    font-size: 30px;
}
.flexbox-content p {
    line-height: 1;
    font-size: 20px;
    margin: 0 6px 6px 6px;
}
.flex-banner p {
    color: #000 !important;
    font-size: 20px;
}
.flex-banner h2 {
    text-align: center;
    margin: 0;
    font-size: 30px;
}
.bnr-p{
    color: white;
    font-size: 20px;
margin-top: -28px;
}
.child1{
    text-align: left;
    margin-top: 3px;
    color: #000 !important;
    font-size: 20px;
}
.flex-section{
    display: flex;
    padding: 30px 0 30px 0;
}
.section-child-2-img {
    height: 266px;
    width: 484px;
    border: 7px solid #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.section-child-1{
    margin-right: 4%;
}
.divider{
    width: 50px;
    height: 3px;
    background-color: #177009;
    display: inline-block;
    margin-bottom: 12px;
}
.company-story {
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: 0;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
.contact-sec-p{
    color: #000!important;
    text-align: left;
    font-size: 20px;
}
.contact-section{
    width: 100%;
    background: linear-gradient(#ffffff6e, #ffffffad), url(../media/contact-section.jpg);
    background-size: cover;
    padding: 150px 0;
    position: relative;
}
.contact-sec-1 {
    width: 48%;
}
.contact-sec-1 h3, .thrd-bnr-sec-2 h3 {
    font-size: 25px;
}
.contact-sec-2{
    float: right;
    text-align: right;
    margin-top: 100px;
}
.contact-btn {
    margin-top: -190px;
}
.contact-btn a {
    color: #fff;
    text-decoration: none;
    background-color: #06629c;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 3px;
    display: inline-block;
}
.grid-section{
    padding: 30px 0;
}
.grid-container {
    width: 1080px;
    margin: 0 auto;
}
.grid-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.gird2 {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
.grid1 .grid2 .grid3 .grid4 .grid5{
    position: relative;
}
.gallery img {
    height: 170px;
}
.grid-2-img {
    height: 361px !important;
    width: 356px;
}
.thrd-bnr-sec-1-img {
    height: 259px;
}
.thrd-banner .container {
    display: flex;
    flex-flow: row wrap;
}
.thrd-bnr-sec-1 {
    width: 48%;
    margin-right: 4%;
}
.thrd-bnr-sec-2 {
    width: 48%;
}
.thrd-bnr-sec-2 p{
    text-align: right;
    color: #000 !important;
    font-size: 20px;
}
.thrd-banner {
    padding-bottom: 30px;
}
.uname {
    width: 48%;
    float: left;
    margin-right: 4%;
}
.umail {
    width: 48%;
    float: right;
}
.contact-area input, textarea {
    background: #06629c;
    padding: 15px 10px;
    border: 0;
    outline: 0;
    font-size: 20px;
    margin-bottom: 15px;
    display: block;
    color: #fff;
    font-family: inherit;
}
textarea{
    width: 100%;
}
.submit-btn {
    border: none;
    padding: 15px 43px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    background: #177009;
}
.button {
    text-align: center;
}
.contact-sec{
    background: linear-gradient(#ffffff6e, #ffffffad), url(../media/contact.jpg);
    background-size: cover;
    padding: 150px 0 157px 0;
}
.cntc-h1 {
    text-align: center;
    font-size: 34px;
    margin-top: -85px;
}
.footer{
    background: #d5ffcc ;
    padding-bottom: 1px;
}
.footer-container {
    width: 1280px;
    margin: 0 auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}
.footer-col {
    width: 25%;
    padding: 20px 0px;
}
.footer-col ul li a{
    text-decoration: none;
    color: #4a4a4a;
}
.footer-col ul li a:hover{
    color: #eb8715;
}
.footer-col h4 {
    color: #4a4a4a;
}
.social-links ul a {
    color: #4a4a4a;
    font-size: 35px;
    margin-right: 8px;
    border-radius: 50%;
}
.social-links ul a:hover {
    color: #06629c;
    transition: all 0.3s;
}
.sep-p, .nupuriislam{
    color: #4a4a4a !important;
    text-align: center;
}